## This .htaccess file comes with Hati - A Speedy PHP Library!

## Plaching this .htaccess file in the root directory of the project,
## you wouldn't need to use 'require' function to load composer autolader,
## or hati init file manually.

## You are free to make changes here as per your requirements.
## however, make sure you aer pointing the hati file correctly.
## all the configuration is given for reference or modification.
## They will not fit all projects structure. Change accordingly.


##-----------------------------------------------------------------------------------------
## 									!!! HATI LOADER!!!
## Prepend hati as master dependency. For testing environment such as xampp path can be
## Something like C:/xampp/htdocs/project/hati/init.php
## As hati comes with composer, you only need to change 'project_dir' with actual directory.
##-----------------------------------------------------------------------------------------
# php_value auto_prepend_file "hati/init.php"


##-----------------------------------------------------------------------------------------
## 								!!! PROTECT HATI FOLDERS !!!
## The hati folder hosts various configuration files. These files contains very sensitive
## information. This rule is recommeneded to safe-guard the hati folder.
##-----------------------------------------------------------------------------------------
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule (^|/)hati(/|$) - [F]
</IfModule>


##--------------------------------------------------------------------------------------------
##		 					!!! REDIRECTION RULES FOR API !!!
## For a specified folder use the /folder/ as RewriteBase. The RewriteCond can be modidfied to
## '-*' to disable direct access to any file in the api folder.
##--------------------------------------------------------------------------------------------
# RewriteBase /
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^api/(.+)$ api/hati_api_handler.php?api=$1 [QSA,L]


## Directory listing option; can be disabled.
# Options -Indexes


## Change default index page as directory index page
# DirectoryIndex home.php


## Force server to use https.
# RewriteEngine On
# RewriteCond %{HTTPS} off
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}


## Allowing cross site origin control for ajax.
# Header add Access-Control-Allow-Origin "*"


## Configure the phpsessid cookie name if needed.
# php_value session.name 'HATI'


## Force session cookie to be http only unless it is mentioned in code otherwise.
# php_value session.cookie_httponly 1


## Document not found directive
#ErrorDocument 404 http://YOUR_SITE.com/404_PAGE.php


## Forbidden access directive
# ErrorDocument 403 http://YOUR_SITE.com/404_PAGE.php
